 .homeCard-container{
    @media (max-width: 350px) {
        padding: 6px;
        justify-content: center;
        height: clamp(fit-content, 22vh, 20rem);
        width: clamp(13rem, 90vw, 25rem);
        .homeCard-body{
            margin-left: 4%;
            align-items: anchor-center;
            padding: 0px;
            transition-duration: 0.5s;
            p{
                font-size: clamp(0.55rem, 3vw, 1.25rem);
            }
            
            .card-title{
                font-size: clamp(0.75rem, 3.8vw, 1.5rem);
            }

            img{
                aspect-ratio: 1/1;
                width: max(2.3rem, 7vw);
                height: auto;   
                }
               
            }
        }
        
    }
    .homeCard-body{
        img{
            aspect-ratio: 1/1;
            height: clamp(3rem,12vh, 5em);
            width: auto;
    }
    }
