 .btn{
    font-family: "Hadnlee", cursive;
    width: clamp(max-content, 12vw, 9rem);
    height: max-content;
    @media (max-width: 350px) {
        padding: 2px 4px;
    }
    p{
        font-size: clamp(0.6rem, 1.5vw, 1.1rem);
        font-weight: 400;
    }
 }
 .userCard{
    .userCard-body{
        p{
            font-size: clamp(0.5rem, 3vw, 1.0rem);
        }
        .card-title{
            font-size: clamp(0.7rem, 4.5vw, 1.3rem);
        }
    }
    font-size: clamp(0.5rem, 3.5vw, 1.25rem);
     @media (max-width: 350px) {
        padding: 5px;
        height: clamp(fit-content, 22vh, 20rem);
        width: clamp(13rem, 90vw, 25rem);
        .userCard-body{
            margin-left: 4%;
            padding: 0px;
            img{
                aspect-ratio: 1/1;
                width: max(3rem, 15vw);
                height: auto;
            }
        }
        
    }
    .card-body{
        padding: 0px;
    }
 }

.tab{
    font-size: clamp(0.6rem, 1.5vw, 1.1rem);
}

.post-album{
    
        .post{
            h3{
                font-size: clamp(0.75rem, 1.75vw, 1.2rem);
            }
            p{
            font-size: clamp(0.55rem, 1.55vw, 1rem);
        }
        }
        .album{
            p{
                font-size: clamp(0.75rem, 1.75vw, 1.1rem);
            }
        }
    
}